<nav class="navbar is-dark is-spaced has-shadow">
    <a class="navbar-item">
    <svg width="640" height="160" viewBox="0 0 640 160" fill="none" xmlns="http://www.w3.org/2000/svg">
        
    </svg>

    </a>
            <div class="navbar-menu ">
              
                    <a class="navbar-item">
                        Home
                    </a>

                    <a class="navbar-item">
                        Documentation
                    </a>


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Categorias
                    </a>
                    <div class="navbar-dropdown">

                        <a class="navbar-item">
                            Overview
                        </a>
                        <a class="navbar-item">
                            Elements
                        </a>
                        <a class="navbar-item">
                            Components
                        </a>



                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
</nav>


<!-- <div class="tabs is-centered is-large">
            <ul>
                <li class="is-active"><a>Inicio</a></li>
                <li><a>Music</a></li>
                <li><a>Videos</a></li>
                <li><a>Documents</a></li>
            </ul>
        </div>
     -->
<!--<hr class="navbar-divider"> -->


<!--
<a id="btnInicio" text="envia inicio" onclick="btnInicio" class="button is-primary">
    <strong>Iniciar sesion</strong>
</a>
<a id="btnRegistrar" text="envia inicio" onclick="btnRegistrar_C" class="button is-light">
    <strong>Registrarte</strong>
</a>
-->
